
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arvo";
}

 body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}

.offset::before{
  display:block;
  content:"";
  height:10rem;
  margin-top:-2rem;
}

html {
  scroll-behavior: smooth;

}


hr {
  border: dotted #CDF2CA 6px;
  border-bottom: none;
  width: 4%;
  margin: 15px auto;
}




h6{
  font-size:16px;
  line-height:32px;
  color:#6c6c6c;
  margin-top:16px;
  font-weight:normal;
}

/* navigation bar */

.nav{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding:0 6.5rem;
  background: transparent;
  transition: all 0.5s ease;
 background-color: #fff;
  z-index: 100000;


}
.nav img{
  height:5rem;
}
.menu-items li{
  list-style: none;
}
.nav .navbar-toggler{
display: none;
border: none;
outline:none;
}

.nav .navbar-toggler .toggler-icon{
  width: 27px;
  height:3px;
  background-color: #121212;
  margin:5px 0;
  position: relative;
  display: block;
  transition: all 0.3s ease-out 0s;
}

.nav .menu-bar .menu-items{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}
.nav .menu-bar .menu-items li{
  margin:0 15px;

}
.nav .menu-bar .menu-items li a{
  color:#000;
  font-size: 16px;
  font-weight: 500;
  text-decoration:none;
}

.nav .menu-bar .menu-items li a:hover{
  color: #4f47e4;
}

.nav .nav-social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .nav-social ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .nav-social span{
  font-size: 16px;
  font-weight: 500;
  padding-right:10px;
  color:#6c6c6c;
}
.nav .nav-social ul li{
  margin:0 7px;
  list-style: none;
}
.nav .nav-social ul li a{
  color:#6c6c6c;
  font-size:16px;
  margin: 2px 0;


}


/* Home */

.back{
  background-image:url('../images/bg.jpg');
  width: 100%;
  height:100vh;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

}
.overlay{
  background-image:linear-gradient(rgba(23, 11, 125, 0.9), rgba(239, 254,255, 0.9));
  width: 100%;
  height:100%;
}

.hero-text{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align: center;

}
.hero-text h2{
  color:#171717;
  font-family: "Arvo";
  font-size:2em;
  font-weight: 600;
}
.hero-text p{
  color:#000;
  font-family:"Libre+Caslon";
  font-weight:500;
  font-size: 1.3em;

}

/* carousal */
.carousel {
  background-color: #F4F6F7;
  padding: 3% 4%;
}

.carousel-item {
  text-align: center;
  font-size: 1em;
  padding: 4px 0 4px 0;
  transition: (1 ease-in-out left);
  font-family: "Libre Caslon";
  font-weight: 400;
}

.carousel-item a {
  color: #000;
}

.fa-phone {
  color: #053742;
  transform: rotate(90deg);
}


/* About */

/* About */
#about {
  background-color: #F4F6F7;
  padding: 6vw 4vw 4vw 4vw;
}

.profile-img {
  margin-left: 40%;
  border-radius: 50%;
  width: 20%;
}

#about h2 {
  color: #000;
  font-family: "Arvo";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 6px;
  margin-top: 10px;
}

#about h3 {
  color: #000;
  font-family: "Arvo";
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-align: center;
}

#about p {
  color: #000;
  font-size: 1.3rem;
  padding: 1% 3%;
  font-family: "Libre Caslon";
  font-weight: 500;
  text-align: center;
  line-height: 30px;
}

/* offer */
#Offer {
  padding: 2vw 2vw 2vw 2vw;
  background-color: #fff;
}

.offering-box {
  font-family: "Libre Caslon";
  font-size: 1.2rem;
  text-align: center;
  padding: 2% 2% 2% 2%;
  font-weight: 400;
  font-family: #000;
}

#Offer h3 {
  font-family: "Arvo";
  font-size: 1.3rem;
  text-align: center;
  padding: 2% 2% 2% 2%;
  font-weight: 400;
  font-family: #000;
}

#Offer p {
  color: #000;
  font-size: 1.3rem;
  padding: 1% 3%;
  font-family: "Libre Caslon";
  font-weight: 400;
  text-align: center;
  line-height: 30px;
}

.icon {
  color: #053742;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #CDF2CA;
}

/* Service */
#service {
  background-color: #F4F6F7;
  padding: 6vw 4vw 4vw 4vw;
}

#service h2 {
  color: #000;
  font-family: "Arvo";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 6px;
  margin-top: 10px;
}

.services h3 {
  color: #000;
  font-weight: 600;
  font-size: 2.2rem;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 20px;
}

#service p {
  text-align: center;
  font-family: "Libre Caslon";
  font-size: 1.5rem;
  color:#000;
}

.dot Before {
  content: "\2022";
  color:#6C4A4A ;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  padding: 10%
}

.col-lg-6 {
  padding: 4vw 4vw 4vw 4vw;
}

.information {
  padding: 4vw 4vw 4vw 4vw;
}

.information h2 {
  color: #000;
  font-family: "Arvo";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 6px;
}




/* Contact info */
#contact-info {
  background-color: #F4F6F7;
  padding: 6vw 4vw 4vw 4vw;
}

#contact-info h2 {
  color: #000;
  font-family: "Arvo";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 6px;
  margin-top: 10px;
}

#contact-info h4 {
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 15px;
}

#contact-info p {
  color: #000;
  font-size: 1.2rem;
  line-height: 15px;
  text-align: center;
  padding: 5px;
  font-family: "Libre Caslon";
  font-weight: 400;
}

#contact-info a {
  color: #DFD8CA;
  text-align: center;
  text-decoration: none;
  color: #4A47A3;
  font-size: 1.2rem font-family: "Ubuntu";
  font-weight: 500;
}

/* message form */
#message-form {
  background-color: #fff;
  padding: 4vw 4vw 4vw 4vw;
}

#message-form h2 {
  color: #000;
  font-family: "Arvo";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  padding: 4px 6px;
  margin-top: 10px;
}

#message-form p {
  color: #000;
  font-size: 1.2rem;
  line-height: 15px;
  text-align: center;
  padding: 5px;
  font-family: "Libre Caslon";
  font-weight: 400;
}

#message-form {
  background-color: #F4F6F7;
}

#message-form h2 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  line-height: none;
  padding: 10px;
}

#message-form p {
  color: #000;
  font-size: 1.2rem;
  line-height: 15px;
  text-align: center;
  padding: 5px;
  font-family: "Libre Caslon";
  font-weight: 400;
}

.contact-form {
  margin: 35px auto 0px auto;
  width: 80%;
}

.contact-form label {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.contact-form input {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: #ADC2A9;
  font-size: 18px;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 100%;
}

.contact-form input:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form textarea {
  padding: 12px 20px;
  outline: none;
  border: none;
  border-bottom: 2px solid #ccc;
  background: #ADC2A9;
  font-size: 18px;
  border-radius: 3px;
  width: 100%;
  font-family: inter;
  font-weight: normal;
}

.contact-form textarea:focus {
  border-bottom: 2px solid #1a883f;
}

.contact-form button {
  font-size: 19px;
  width: 100%;
  margin-top: 25px;
  border: none;
  padding: 12px 20px;
  background-color: #22b352;
  color: #ADC2A9;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #1a883f;
}

.contact-form button:hover {
  background-color: #1a883f;
  border-bottom: 3px solid #22b352;
}
/* privacy */
#privacy {
  background-color: #F4F6F7;
  padding: 6vw 2vw;
  margin-left: 2px 4px;
  margin-top: 10px
}

#privacy-col1 .data h2 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 500;
  line-height: none;
  padding: 10px;
}

#privacy .data p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 30px;
  padding-left: 15px;
}

#privacy .data h4 {
  font-size: 1.3rem;
  color: #000;
  font-weight: 600;
  line-height: 10px;
  padding: 35px 2px 25px 2px;
}

#privacy .data li {
  font-size: 1rem;
  color: #000;
  font-weight: 550;
  padding-left: 0 2px 2px 2px;
  line-height: 10px;
}

#privacy .term h5 {
  font-size: 1.2rem;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  padding: 35px 2px 25px 2px;
}

#privacy .term p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 30px;
  padding-left: 15px;
}

#privacy .term li {
  font-size: 1rem;
  color: #000;
  font-weight: 550;
  padding-left: 15px;
}

/* imprint */
#imprint {
  background-color: #F4F6F7;
  padding: 6vw 2vw;
  margin-left: 2px 4px;
  margin-top: 10px;
}

#imprint .imprint-doc-1 h4 {
  font-size: 1rem;
  font-weight: 600;
  line-height: 20px;
  padding: 15px;
}

#imprint .imprint-doc-1 p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  padding-left: 15px;
}

#imprint .imprint-doc-2 a {
  color: red;
}

#imprint .imprint-doc-2 p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 30px;
  padding-left: 15px;
}

/* Footer */




/* Media query */


@media only screen and (max-width: 946px){

html,body {
     overflow-x: hidden;
   }
  .nav img {
    height: 6rem;
}

  .nav {
    padding:1rem 2rem;
}
.nav .nav-social {
    display:none;

}
.hero-text{
  width:60%;

}
.hero-text h2{

  font-size:1.8em;
  font-weight: 600;
}
.hero-text p{

  font-weight:400;
  font-size: 1em;
}

.row{
  margin-top:3rem;

}

.about h2{
  text-align: center;
  padding:5px 4px 5px 7px;
  margin-top: 2rem;
  font-size: 1.8em;
}
.title-image{
  width: 95%;
  padding-left: 0 0 0 30px;
}
.row h5{
  text-align: center;
  font-size: 1.4em;
  font-size: 500;
  font-family: "Arvo";
  line-height: normal;
}
.row p{
  text-align: center;
  font-size: 1em;
  font-size: 400;
  font-family: "Libre Caslon";
  line-height: 25px;
  padding:20px;
}
.row {

    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;

}
.information{
  padding:5px 5px;
}
.offset::before {
    display: block;
    content: "";
    height: 10rem;
    margin-top: -3rem;
}
#contact-info h2 {
    color: #fff;
    font-family: "Arvo";
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
    padding: 4px 4px;
    margin-bottom:5;
}

}


@media only screen and (max-width: 774px){
  .nav{

    padding:0.7remrem 1rem;
}
    html,body {

       overflow-x: hidden;
      }
      .nav img {
        height: 5rem;
    }
    .hero-text{
      width:80%;

    }



  .menu-items li{
    list-style: none;
  }
  .nav .navbar-toggler{
  display:block;
  position: absolute;
  top:26px;
  right:16px;
  z-index: 1000000;
  }
.nav .menu-bar{
  position: fixed;
  top:55px;
  right:-360px;
  width:300px;
  height:100vh;
  background-color: rgba(256, 256, 256, 0.9);
  transition: all 0.6s ease;
}


  .nav .menu-bar .menu-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    padding:40px 0;



  }
  .nav .menu-bar .menu-items li{
    margin:2rem 30px;

  }

  .hero-text h2 {
      font-size: 1.8em;
      font-weight: 600;
  }
  .hero-text p{
      font-weight: 500;
      font-size: 1.2em;
  }
  #contact-info h2 {
    color: #000;
    font-family: "Arvo";
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 1px;
    text-align: center;
    padding: 2px 3px;
    margin-bottom: 2%;
}
#contact-info p {
    color: #000;
    font-size: 1.2em;
    line-height: 25px;
    text-align: center;
    padding: 5px;
    font-family: "Libre Caslon";
    font-weight: 500;
}
#message-form p {
    color: #000;
    font-size: 1.2em;
    line-height: 20px;
    text-align: center;
    padding: 5px;
    font-family: "Libre Caslon";
    font-weight: 500;
}
}


@media only screen and (max-width: 541px){
  .nav img {
      height: 6rem;
  }
  html,body {

     overflow-x: hidden;
    }
  .nav .navbar-toggler {

      bottom: 15px;

  }
  .hero-text h2 {
    font-size: 1.8em;
    font-weight: 600;
}
.hero-text p{
    font-weight: 500;
    font-size: 1.2em;

}
.hero-text {
  top: 50%;
  left: 50%;
}
@media only screen and (max-width: 375px){

 .nav{

   padding:0.7remrem 1rem;
}
   html,body {

      overflow-x: hidden;
     }
     body {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      overflow-x: hidden;

    }
     .nav img {
       height: 5rem;
   }



 .menu-items li{
   list-style: none;
 }
 .nav .navbar-toggler{
 display:block;
 position: absolute;
 top:26px;
 right:16px;
 z-index: 1000000;
 }
.nav .menu-bar{
 position: fixed;
 top:55px;
 right:-360px;
 width:300px;
 height:100vh;
 background-color: rgba(256, 256, 256, 0.9);
 transition: all 0.6s ease;
}


 .nav .menu-bar .menu-items{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   text-align: justify;
   padding:40px 0;



 }
 .nav .menu-bar .menu-items li{
   margin:2rem 30px;

 }


 #contact-info h2 {
   color: #000;
   font-family: "Arvo";
   font-weight: 500;
   font-size: 1.5em;
   letter-spacing: 1px;
   text-align: center;
   padding: 2px 3px;
   margin-bottom: 2%;
}
#contact-info p {
   color: #000;
   font-size: 1em;
   line-height: 25px;
   text-align: center;
   padding: 5px;
   font-family: "Libre Caslon";
   font-weight: 400;
}
#message-form p {
   color: #000;
   font-size: 1em;
   line-height: 20px;
   text-align: center;
   padding: 5px;
   font-family: "Libre Caslon";
   font-weight: 400;
}


.hero-text p{
    font-weight: 400;
    font-size: 1em;


}

  .hero-text {
    top: 50%;
    left: 50%;


  }
  }

  @media only screen and (max-width: 310px){


     .nav{

       padding:0.7remrem 1rem;
    }
       html,body {

          overflow-x: hidden;
         }
         body {
          width: 100%;
          height: 100%;
          margin: 0;
          padding: 0;
          overflow-x: hidden;

        }
         .nav img {
           height: 5rem;
       }



     .menu-items li{
       list-style: none;
     }
     .nav .navbar-toggler{
     display:block;
     position: absolute;
     top:26px;
     right:16px;
     z-index: 1000000;
     }
    .nav .menu-bar{
     position: fixed;
     top:55px;
     right:-360px;
     width:300px;
     height:100vh;
     background-color: rgba(256, 256, 256, 0.9);
     transition: all 0.6s ease;
    }


     .nav .menu-bar .menu-items{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start;
       text-align: justify;
       padding:40px 0;



     }
     .nav .menu-bar .menu-items li{
       margin:2rem 30px;

     }


     #contact-info h2 {
       color: #000;
       font-family: "Arvo";
       font-weight: 500;
       font-size: 1.5em;
       letter-spacing: 1px;
       text-align: center;
       padding: 2px 3px;
       margin-bottom: 2%;
    }
    #contact-info p {
       color: #000;
       font-size: 1em;
       line-height: 25px;
       text-align: center;
       padding: 5px;
       font-family: "Libre Caslon";
       font-weight: 400;
    }
    #message-form p {
       color: #000;
       font-size: 1em;
       line-height: 20px;
       text-align: center;
       padding: 5px;
       font-family: "Libre Caslon";
       font-weight: 400;
    }


    .hero-text p {
        font-weight: 400;
        font-size: 1em;


    }

      .hero-text {
        top: 50%;
        left: 25%;


      }
      .hero-text h2 {
    font-size: 1.7em;
    font-weight: 500;
}
#service p {
    text-align: center;
    font-family: "Libre Caslon";
    font-size: 16px;
    font-size: 400;
    color: #000;
}


      }
